.courses{
	background-color: rgba(63, 20, 91, 0.8);
	.heading{
		color: #fff;
	}
	.nav-tabs{
		li a{
			// color: $primary-color;
			color: $primary-color;
			&:hover{
				color: $primary-color;
			}
		}
	}
	.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
			color: $primary-color;
			font-weight: bold;
		}
	.tab-content{
		padding: 20px 10px;
	}
	.carousel{
		padding-top: 45px;
	}
}