.trans-back{
  background-color: transparent!important;
  box-shadow: 0px 0px 0px 0px #3f145b!important;
  transition: 0.5s;
  .nav-serv{
    transition: 0.5s;
    padding-top: 20px;
    .courses:hover{
      box-shadow: 0px 0px 5px 4px $primary-color!important;
    }
  }
}

.navbar{
  border-radius: 0px;
  box-shadow: 0px 0px 5px 1px #3f145b;
}
.navbar-inverse{
	background-color: #2f0e44;
  transition: 0.5s;

	border: none;
  .navbar-brand{
    color: #fff;
    padding: 3px 10px;
    img{
      width: 45px;
    }
    &:hover{
      color: #fff;
    }
  }
	.navbar-nav>li>a{
		color: #fff;
		&:hover{
			color: #fff;
			background-color: #5b0791;
		}
	}
  .nav-serv{
    color: #fff;
    transition: 0.5s;
    padding-bottom: 10px;
    overflow-x: scroll;
    display: flex;
    &::-webkit-scrollbar{
					display: none;
		}
    .course{
      float: left;
      display: inline-block;
      flex: 1;
      padding-right: 8px;
      transition: 0.2s;
      cursor:pointer;
      &:hover{
        box-shadow: 0px 0px 5px 4px #703f90;
      }
    }
  }
}

@media screen and (max-width:767px){
  .trans-back .nav-serv {
    padding-top: 10px;
  }
  //navbar style in responsive
  .navbar-nav {
    background: $primary-color;
    margin: 0.5px -15px;
  }
  .navbar-inverse .navbar-collapse{
    border-color: transparent;
  }
}
@media screen and (max-width:450px){
  .trans-back .nav-serv{
    padding-top: 10px;
  }
  .navbar-inverse .nav-serv{
    width: 400px;
    overflow-x: scroll;
    white-space: nowrap;
    padding-left: 10px;
    &::-webkit-scrollbar{
					display: none;
		}
    .course{
      padding-right: 15px;
    }
  }
}

.btn--md{
  border-radius: 50%;
  position: fixed;
  z-index: 777;
  top: 50%;
  right: 0;
  &:focus{
    outline: none;
  }
  &:active{
    outline: none;
  }
}
